@model IEnumerable<ToEmit.Web.Models.ScoresModel>

@{
    ViewData["Title"] = "Leaderboard";
}

    <h1>Leaderboard</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.score)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.score)
            </td>
        </tr>
}
    </tbody>
</table>
